@import "./variables";

.justify-content-start {justify-content: flex-start}
.justify-content-center {justify-content: center}
.justify-content-end {justify-content: flex-end}
.justify-content-sp-around {justify-content: space-around}
.justify-content-sp-btw {justify-content: space-between}
.justify-content-sp-even {justify-content: space-evenly}
.align-items-start {align-items: flex-start}
.align-items-center {align-items: center}
.align-items-end {align-items: flex-end}

.form-container, .successPage-container {
  width: 100%;
}

/* For Desktop View */
@media only screen and (min-width: 1280px) {
  .form-container, .successPage-container {
    width: 60%;
  }

  @for $i from 1 through $columns {
    .col-xl-#{$i} {
      min-width: percentage($i/$columns);
    }
  }

  .xl-justify-content-start {justify-content: flex-start}
  .xl-justify-content-center {justify-content: center}
  .xl-justify-content-end {justify-content: flex-end}
  .xl-justify-content-sp-around {justify-content: space-around}
  .xl-justify-content-sp-btw {justify-content: space-between}
  .xl-justify-content-sp-even {justify-content: space-evenly}
  .xl-align-items-start {align-items: flex-start}
  .xl-align-items-center {align-items: center}
  .xl-align-items-end {align-items: flex-end}
}

/* For Big-Tablet View */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1280px) {

  .form-container, .successPage-container {
    width: 60%;
  }

  @for $i from 1 through $columns {
    .col-lg-#{$i} {
      min-width: percentage($i/$columns);
    }
  }

  .lg-justify-content-start {justify-content: flex-start}
  .lg-justify-content-center {justify-content: center}
  .lg-justify-content-end {justify-content: flex-end}
  .lg-justify-content-sp-around {justify-content: space-around}
  .lg-justify-content-sp-btw {justify-content: space-between}
  .lg-justify-content-sp-even {justify-content: space-evenly}
  .lg-align-items-start {align-items: flex-start}
  .lg-align-items-center {align-items: center}
  .lg-align-items-end {align-items: flex-end}
}

/* For Tablet View */
@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      min-width: percentage($i/$columns);
    }
  }

  .md-justify-content-start {justify-content: flex-start}
  .md-justify-content-center {justify-content: center}
  .md-justify-content-end {justify-content: flex-end}
  .md-justify-content-sp-around {justify-content: space-around}
  .md-justify-content-sp-btw {justify-content: space-between}
  .md-justify-content-sp-even {justify-content: space-evenly}
  .md-align-items-start {align-items: flex-start}
  .md-align-items-center {align-items: center}
  .md-align-items-end {align-items: flex-end}
}

/* For Mobile */
@media only screen and (max-device-width: 480px) {
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      min-width: percentage($i/$columns);
    }
  }

  .sm-justify-content-start {justify-content: flex-start}
  .sm-justify-content-center {justify-content: center}
  .sm-justify-content-end {justify-content: flex-end}
  .sm-justify-content-sp-around {justify-content: space-around}
  .sm-justify-content-sp-btw {justify-content: space-between}
  .sm-justify-content-sp-even {justify-content: space-evenly}
  .sm-align-items-start {align-items: flex-start}
  .sm-align-items-center {align-items: center}
  .sm-align-items-end {align-items: flex-end}
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
